<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tracking time you spend is the most cheap and valuable productivity tool ever existed.</h2>
                <hr class="light">
                <p class="text-faded">Tracker is an app I've built for myself. Being fed up with "corporate" and fancy trackers offering me Jira integration.
                    I wanted something to substitute a pen and a notebook. Im using it for a 5 month already and now want to share with you.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
