<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Time Tracking: The Most Affordable and Powerful Productivity Tool</h2>
                <hr class="light">
                <p class="text-faded">I built this app to replace complicated productivity tools. Forget fancy integrations – this is the straightforward tracker I always wanted. I've been using it for five months and can't wait to share it with you.</p>
                <a href="#" class="btn btn-default btn-xl">Get Tickwise!</a>
            </div>
        </div>
    </div>
</section>
